<div class="form-group">
	<label for="source">Source</label>	
	<input type="text" class="form-control" id="source" placeholder="Source">
</div>
<div class="form-group">
	<label for="destination">Destination</label>	
	<input type="text" class="form-control" id="destination" placeholder="Destination">
</div>
<a class="btn btn-default" href="search-results">find Cabs</a>