<div class="form-group">
	<label for="source">Source</label>	
	<input type="text" class="form-control" id="source" placeholder="Source">
</div>
<div class="form-group">
	<label for="destination">Destination</label>	
	<input type="text" class="form-control" id="destination" placeholder="Destination">
</div>
<input type="submit" value="find Cabs" class="btn btn-default">