//
// New styles for travelCheap goes here
// --------------------------------------------------

.tc{
	background-color: @brand-color-1;
	padding: 36px 50px;
}

.tc-find-cabs input[type=submit]{
	margin-top: 40px;
}