.tc-search-results {
	.header{
		margin-bottom            :   $sr-header-content-spacing;
		h2{
			  background-color   :   $sr-header-bg;
			  color              :   $sr-header-color;
			  padding            :   12px 20px;
			  margin             :   0;
			  text-transform     :   uppercase;
			  font-weight        :   $sr-header-font-weight;
			  font-size          :   $sr-header-font-size;
		}

	}

	.content{
		  background-color   :   $sr-content-bg;
		  color              :   $sr-content-color;
		  padding            :   12px 20px;
		  font-weight        :   $sr-content-font-weight;
		  font-size          :   $sr-content-font-size;
		  margin-bottom      :   $sr-content-spacing;

		  .price{
		  	font-size: $sr-content-font-size-2 ;
		  	font-weight: $sr-content-font-weight-2;

		   .prefix{
		  		text-transform   :   uppercase;
		  		margin-right     :   4px;
		  		font-size  :  $sr-content-font-size;
		  	    font-weight: $sr-content-font-weight;
 		   }
 		 }
	}	
}
