.tc{
	background-color: $brand-color-3;
	padding: 36px 30px;
}


//
// Grid system
// --------------------------------------------------
.container-fluid {
  @include container-fixed;
  max-width: 400px;
}

.row {
  @include make-row;
  margin-bottom: 10px;
}


//
// Forms
// --------------------------------------------------

.form-control {
  border: none;
  width: inherit;
  display: inline-block;
}

label{
	margin-left: 10px;
	color: $brand-color-2;
}

.form-group{
 	border-bottom: 1px solid $input-border;
 }